*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #eee;
}

main {
  max-width: 750px;
  width: 95%;
  margin: 0 auto;
  padding: 2em;
  background-color: white;
}

.logo {
  width: 75%;
  max-width: 250px;
  margin: 0 auto 2em;
}

.logo img {
  width: 100%;
}

.mailing_list {
  width: 100%;
  height: 65em;
}

h1, h2, h3 {
  position: relative;
}

/* h1::after, h2::after, h3::after {
  position: absolute;
  content: '';
  top: 1.25em;
  height: 2px;
  width: 7.5em;
  left:0;
  background-color: #eaaf18;
} */

.container {
  position:relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
}


.container::after {
  content: '';
  position:absolute;
  left: 50%;
  bottom: 0em;
  width: 50%;
  height: 5px;
  transform: translateX(-50%);
  background-color: #eaaf18;
}

.btn {
  background-color: #eaaf18;
  padding: 1em 2em;
  border-radius: 1em;
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

.btn-signup {
  display:block;
  text-align: center;
  width:fit-content;
  margin: 2em auto;
}

@media screen and (hover: hover) {
  .btn:hover {
    background-color: #87640d;
  }

  main {
    padding: 2em 3em;
  }
}

@media (preferes-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}